<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.dots.task">
      <task
            class="ch.hasselba.dominodejs.plugin.Server"
            id="dominodejs"
            runOnStart="true"
            triggered="false">
      </task>
   </extension>
</plugin>
